<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src ="/javascript/jquery.js"></script>
    <script type="text/javascript" src ="/javascript/script.js"></script>
  </head>
  <body>

    h2= greeting
    <canvas id="canvas" width="300" height="300" style="border:1px solid fuchsia;"></canvas>
    <button id="a">Add rectangle!</button>
    <button id="b">Do stuff!</button>
  </body>
</html>
