<!DOCTYPE html>
<html>
  <head>

    <script type="text/javascript" src ="../src/server.js"></script>
    <script type="text/javascript" src ="../src/namer.js"></script>

    title= title

  </head>
  <body>

    h2= greeting

  </body>
</html>
