<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src ="/javascript/idea.js"></script>
    <script type="text/javascript" src ="/javascript/canvas.js"></script>
    <script type="text/javascript" src ="/javascript/interface.js"></script>
  </head>
  <body>
    <canvas id="canvas" width="300" height="300" style="border:1px solid black;"></canvas>
    <button id="rectangle">Rectangle</button>
    <button id="circle">Circle</button>
    <button id="reset">Reset</button>
  </body>
</html>
