<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src ="../src/server.js"></script>
    <script type="text/javascript" src ="../src/namer.js"></script>

    title= title

  </head>
  <body>

    h2= greeting
    <canvas id="canvas" width="300" height="300" style="border:1px solid fuchsia;"> </canvas>
  </body>
</html>
