<!DOCTYPE html>
<html>
<body>

<h3>A demonstration of how to access a CANVAS element</h3>

<canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<p>Click the button to draw on the canvas.</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.fillStyle = "#FF0000";
    ctx.fillRect(20, 20, 150, 100);
}
</script>

</body>
</html>
