@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
  overflow: hidden;
}

canvas {
  background-color: floralwhite;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

canvas.hawaiianyellow {
  background-color: #f6f2d7;
}

canvas.salmon {
  background-color: #f89b77;
}

canvas.veryyellow {
  background-color: #f8e945;
}

.colorbuttons {
  text-align: center;
}

.colorbuttonhawaiianyellow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #ff5a25;
  padding: 3px 3px 3px 3px;
  background-color: #f6f2d7;
  box-shadow: 0px 0px #ff5a25;
}

.colorbuttonsalmon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #ff5a25;
  padding: 3px 3px 3px 3px;
  background-color: #f89b77;
  box-shadow: 0px 0px #ff5a25;
}

.colorbuttonveryyellow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #ff5a25;
  padding: 3px 3px 3px 3px;
  background-color: #f8e945;
  box-shadow: 0px 0px #ff5a25;
}

body {
  margin: auto;
}

.toolbar {
  width: 220px;
  height: 100vh;
  background: #6CA370;
  z-index: 2;
  position: absolute;
  transition: left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow-x: hidden;
  max-width: 220px;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.toolbar.closed {
	max-width: 0;
}

.toggle {
  z-index: 3;
  margin-top: 95vh;
  margin-left: 10px;
  position: absolute;
  background-color: #6CA370;
  box-shadow: 0px 0px #ff5a25;
  padding: 3px 3px 3px 3px;
  color: #91c994;
}

.toggle.closed {
  z-index: 3;
  margin-top: 95vh;
  margin-left: 10px;
  position: absolute;
  box-shadow: 0px 0px #ff5a25;
  color: #91c994;
  background-color: #6CA370;
  padding: 3px 3px 3px 3px;
}

h1 {
  font-family: Pacifico;
  font-size: 40px;
  text-align: center;
  color: floralwhite;
  text-shadow: 2px 2px #ff5a25;
  transition:transform 0.5s;
}

h1:hover {
    transform: scale(1.1);
}

.shapebuttons {
  text-align: center;
}

button {
  background-color: floralwhite;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 15px;
  color: black;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border-style: none;
  transition:transform 0.5s;
  box-shadow: 2px 2px #ff5a25;
}

button:focus {
  outline: 0;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: #F8E945;
}
